body {
    background-color: #c8c3cc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    display: inline block;
    padding: 10px;
    margin-left: 10px;
    background-color: #563f46;
    color: #fff;
    font-family: "Impact", sans-serif;
    font-size: 30px;
}

img {
    width: 33%;
    height: auto; 
    padding: 30px;
    background-color: #8ca3a3;
}

h1 {
    display: block;
    color: #484f4f;
    font-family:"Impact", sans-serif;
    font-size: 50px;
}

p {
    display: block;
    color: #fff;
    background-color: #484f4f;
    font-family: "Roboto Condensed", sans-serif;
}