body {
    background-image: url(https://cdn.hipwallpaper.com/i/8/78/KGHwha.jpg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
}

a {
    display: inline block;
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
    background-color: #405d27;
    border: 3px dotted #82b74b;
    color: #fff;
    font-family: "Mountains of Christmas", cursive;
    font-size: 30px;
}

img {
    display: block;
    height: 450px;
    width: auto;
    background-color: #82b74b;
    border-radius: 90px;
    padding: 10px;
    border: 3px dotted #405d27;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    background-color: #405d27;
    color: #fff;
    border: 3px dotted #82b74b;
    font-family: "Mountains of Christmas", cursive;
    font-size: 50px;
    border-radius: 90px;
    padding: 10px;
    margin: 20px;
    text-align: center;

}

h2 {
    display: block;
    text-align: center;
    background-color: #405d27;
    color: #fff;
    border: 3px dotted #82b74b;
    font-family: "Mountains of Christmas", cursive;
    font-size: 35px;
    border-radius: 90px;
    padding: 10px;
    margin: 20px;
}

p {
    background-color: #e3eaa7;
    font-family: "Crimson Text", serif;
    font-size: 20px;
    color: #405d27;
    border: 3px dotted #82b74b;
    border-radius: 30px;
    padding: 20px;
}

#interests-table {
    display: block;
    width:50%;
    min-width: 482px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px dotted #405d27;
    background-color: #e3eaa7;
    color: #405d27;
    text-align: center;
}

th, td {
    border: 3px dashed #405d27;
}

th {
    font-size: 30px;
    font-family: "Mountains of Christmas", cursive;
}

td {
    font-size: 20px;
    font-family: "Crimson Text", serif;
}

footer {
    color: #fff;
}